version: "3"

services:
  app:
    build: .                     
    container_name: todo-app     
    ports:
      - "3000:3000"              
    restart: always              
    
  mongo:
    image: mongo                 
    container_name: todo-mongo
    ports:
      - "27017:27017"            
